body{background-color: gray;}
header{color: rgb(95, 29, 182);
    font-size: 60px;
    text-align: center;
}
.fiyat{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
h1{
    font-size: 50px;
}